<h1> Taj Shaik </h1>

<h1 class='from'> Fremont, CA</h1>
<h1 class='year'> Freshman with Junior Standing </h1>
<h1 class='funfact'> I like to watch TV. </h1>
<h1 class='decal'> I am excited to learn back-end development. </h1>
